
.tree{
  padding: 10px 10px 20px;
  font-size: 13pt;
  width: 100%;
  height: 100%;
  background-color: #fAfAfA;
  font-family: 'Inconsolata', monospace;
}

.support-title{
  font-size: 13pt;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}