

@include treelist-ui(
        $ui: 'treepa',
        $padding: 0 10px,

          // Black-ish background color
        $background-color: rgba( $panel-navigation-background-color , 0.7 ),
        $toolstrip-background-color: #FAFAFA,

        $tool-float-indicator-color: $panel-header-background-color,
        $tool-float-indicator-width: 5px,

        $tool-indicator-selected-color: #303030,//lighten($panel-header-background-color, 7%),
        $tool-indicator-selected-width: 15px,
        $tool-selected-background-color: #FAFAFA,
        $tool-selected-color: #303030,
          //$tool-selected-background-color: #32404E,


          // Taller line height
        $item-line-height : $panel-navigation-item-line-height,

        $row-over-background-color: mix(white, $panel-navigation-background-color, 5%),
        $row-selected-background-color: mix( #2B2D42 , $panel-navigation-background-color, 10%),

          // Off-white text
        $item-icon-color: #303030,
        $item-expander-color: #303030,
        $item-text-color: #303030,

          // Brighter when hovered
        $item-icon-over-color: #FFF,
        $item-expander-over-color: #FFF,
        $item-text-over-color: mix( white , #303030 , 50% ),
        $item-text-font-size: 16px,

          // Various sizes for the pieces:
        $item-icon-font-size: 15px,
        $item-icon-width: 50px,
        $item-expander-font-size: 16px,
        $item-expander-width: 30px,

          // Style the "row indicator" (the vertical stripe on the left edge):
        $row-indicator-width: 5px,
        $row-indicator-selected-color: #32404E,
        $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%),
        $row-indicator-over-color: transparent
);