
.menu-btn{
  background-color: #82a9ce !important;
  color: #FAFAFA !important;
  z-index: 2 !important;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  border: 0px !important;
  border-radius: 5px !important;
}


.info-btn{
  background-color: #5699D5 !important;
  color: #FAFAFA !important;
  z-index: 2 !important;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  border: 0px !important;
  border-radius: 5px !important;
}

.success-btn{
  background-color: #28A745 !important;
  color: #FAFAFA !important;
  z-index: 2 !important;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  border: 0px !important;
  border-radius: 5px !important;
}

.danger-bnt{
  background-color: #DC3545 !important;
  z-index: 2 !important;
  color: #FAFAFA !important;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  border: 0px !important;
  border-radius: 5px !important;
}

.x-btn-icon-el-default-toolbar-small{
  color: #FAFAFA !important;
  margin-right: 5px;
  border-radius: 5px !important;
}

.x-panel-header-default .x-tool-tool-el {
  background-color: #5F7689 !important;
  border-radius: 2px;
}